	div#experience{
	float: left;
	width: 750px;
	height: 1140px;
	margin-bottom: 190px;
}
	div#nav{
	padding: 20px;
	float:left;
	width: 280px;
	height: 1250px;
	background-color: #d9e8e8;
}
	div#basdepage{
	clear: both;
	width: 1060px;
	height: 50px;
	background-color: #33FF99; 
}
	.intitule{
	font-size: 250%;
	padding: 10px;
	text-align: center;
	text-decoration: underline dotted;
	margin-top: 312px;
}
	.age{
	font-size: 20px;
	padding-top: 15px;
	margin-left: 30px;
}
	.photo {
	border-radius: 25% 10%;
	border: 1px black solid;
	width: 140px;
	height: 200px;
	margin-top: 60px;
	margin-left: -170px;
}
	.contact{
	display: block;
	float: left;
	text-align: left;
	width: auto;
}
	.descriptif{
	display: block;
	text-align: center;
	margin-top: -20px;
	margin-left: 20px;
}
	.passion{
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}
	h1{
	margin-left: 240px;
	font-size: 40px;
	margin-top: -180px;
	font-family: cursive;
}
	h2{
	margin-left: 360px;
	font-size: 40px;
	margin-top: 0px;
	font-family: cursive;
}
	.xp{
	font-size: 230%;
	text-align: center;
	text-decoration: underline;
	margin-top: 40px;
	font-family: cursive;
	margin-left: -50px;
}
	.parcours{
	text-align: left;
	font-family: cursive;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 0px;
}
	.activite{
	font-size: 250%;
	padding: 10px;
	text-align: center;
	text-decoration: underline dotted;
	margin-top: 140px;
}
	.iintitule{
	font-size: 250%;
	padding: 10px;
	text-align: center;
	text-decoration: underline dotted;
	margin-top: 100px;
}
	.code{
	font-size: 100%;
	padding: 10px;
	text-decoration: underline;
	margin-top: -176px;
	margin-left: 430px;
}
	.programme{
	display: inline-block;
	align-content: right;
	margin-right: 0px;
	margin-left: 440px;
}
	.diplômes{
	font-size: 100%;
	padding: 10px;
	text-decoration: underline;
	margin-top: 30px;
	margin-left: 20px;
}
	.etoile{
	display: inline-block;
	margin-left: 40px;
}
	.formations{
	font-size: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-left: -10px;
	text-align:left;
}
	.branche{
	margin-top: -20px;
	margin-left: -100px;
}